body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(116, 116, 116);
}

.three {
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

img.alone {
  border-radius: 50%;
  margin: 3%;
  padding: 1%;
  width: 20%;
  background-color: rgb(70, 70, 70);
}
